---
import Layout from '../layouts/Layout.astro';
import ColorScheme from '../components/ColorScheme.astro';
const d = new Date();
const year = d.getFullYear();
---

<Layout title="Axel Winter">
	<div class="container mx-auto">
		<nav class="text-right">
			<ColorScheme title="switch mode" />
		</nav>
	</div>
	<main>
		<h1 class="text-3xl text-gradient">Axel Winter</h1>
	</main>
	<footer>
		<span>© Axel Winter {year}</span>
	</footer>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0;
	}
	footer {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
