---
const {title} = Astro.props;
---

<button id="switch-mode">{title}</button>

<script>
    function toggleMode () {
        if (document.documentElement.classList.contains('dark')) {
            document.documentElement.classList.remove("dark");
        } else {
            document.documentElement.classList.add("dark");
        }
    }
    document.getElementById("switch-mode").addEventListener("click", toggleMode);
</script>
