--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Astro description">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark')
			} else {
				document.documentElement.classList.remove('dark')
			}
		</script>
	</head>
	<body class="bg-white transition duration-500 dark:bg-gray-900">
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--color-black: #000;
		--color-white: #fff;
		--color-slate-500: #a9adc1;
		--color-gray-100: #f7f7f7;
		--color-gray-200: #e6e9ee;
		--color-gray-300: #dde0e4;
		--color-gray-400: #818890;
		--color-gray-500: #535661;
		--color-gray-600: #4b4c53;
		--color-gray-700: #3a3d4a;
		--color-gray-800: #2e3039;
		--color-gray-900: #1f2028;
	}
	@font-face {
		font-family: 'Work Sans';
		src: url('/fonts/work-sans-v18-latin-regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.dark .text-inverse, .light {
		--bg-primary: var(--color-white);
		--bg-secondary: var(--color-gray-100);
		--bg-alt: var(--color-gray-200);
		--border-secondary: var(--color-gray-200);
		--text-primary: var(--color-black);
		--text-secondary: var(--color-gray-500);
		color-scheme: light;
	}
	.dark, .light .text-inverse {
		--bg-primary: var(--color-gray-900);
		--bg-secondary: var(--color-gray-800);
		--bg-alt: var(--color-gray-700);
		--border-secondary: var(--color-gray-600);
		--text-primary: var(--color-white);
		--text-secondary: var(--color-slate-500);
		color-scheme: dark;
	}
</style>
